Grafana/flows-node-red.json
[{"id":"57259f115786f758","type":"subflow","name":"OPA UA Server (2)","info":"","category":"","in":[{"x":200,"y":340,"wires":[{"id":"f1609c25412064f6"}]}],"out":[{"x":1060,"y":380,"wires":[{"id":"fe7ef8d9df15819a","port":0},{"id":"deaedb8a55d8a757","port":0},{"id":"35bef557962e5e1e","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"45c65b920696162e","type":"OpcUa-Client","z":"57259f115786f758","endpoint":"16f994182948ee32","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":480,"y":300,"wires":[["8d6697c1cc3ea34a","11f0a8524df7edcc","200b526f3f33a129"]]},{"id":"2245dcf6cae922ef","type":"inject","z":"57259f115786f758","name":"Read OPC UA Test Address","props":[{"p":"topic","vt":"str"}],"repeat":"3","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=0;i=2259","x":300,"y":240,"wires":[["45c65b920696162e"]]},{"id":"7bc0823a69438f39","type":"inject","z":"57259f115786f758","name":"Start watchDog","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"true","payloadType":"bool","x":600,"y":160,"wires":[["8d6697c1cc3ea34a"]]},{"id":"8d6697c1cc3ea34a","type":"trigger","z":"57259f115786f758","name":"Watchdog","op1":"","op2":"false","op1type":"nul","op2type":"bool","duration":"12","extend":true,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":780,"y":160,"wires":[["b2339308693c5ca9"]]},{"id":"b2339308693c5ca9","type":"change","z":"57259f115786f758","name":"Set var Conectado","rules":[{"t":"set","p":"Conectado","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":160,"wires":[[]]},{"id":"f1609c25412064f6","type":"switch","z":"57259f115786f758","name":"","property":"Conectado","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":340,"wires":[["45c65b920696162e"],["7ff3d6b069462e82"]]},{"id":"7ff3d6b069462e82","type":"switch","z":"57259f115786f758","name":"","property":"ReadType","propertyType":"msg","rules":[{"t":"eq","v":"ReadState","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":380,"wires":[["fe7ef8d9df15819a"]]},{"id":"fe7ef8d9df15819a","type":"change","z":"57259f115786f758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":380,"wires":[[]]},{"id":"19b13ee015b34f52","type":"inject","z":"57259f115786f758","name":"Set True","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"true","payloadType":"bool","x":760,"y":100,"wires":[["b2339308693c5ca9"]]},{"id":"deaedb8a55d8a757","type":"change","z":"57259f115786f758","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"1","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":300,"wires":[["2016dc780dc79896"]]},{"id":"2016dc780dc79896","type":"change","z":"57259f115786f758","name":"Set True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":220,"wires":[["b2339308693c5ca9"]]},{"id":"11f0a8524df7edcc","type":"switch","z":"57259f115786f758","name":"","property":"ReadType","propertyType":"msg","rules":[{"t":"null"},{"t":"eq","v":"ReadState","vt":"str"},{"t":"neq","v":"ReadState","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":300,"wires":[["2016dc780dc79896"],["deaedb8a55d8a757"],["35bef557962e5e1e"]]},{"id":"35bef557962e5e1e","type":"change","z":"57259f115786f758","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"0","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":340,"wires":[[]]},{"id":"200b526f3f33a129","type":"debug","z":"57259f115786f758","d":true,"name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":200,"wires":[]},{"id":"16f994182948ee32","type":"OpcUa-Endpoint","endpoint":"opc.tcp://0.0.0.0:0000","secpol":"None","secmode":"None","login":false},{"id":"21afd4752b808099","type":"tab","label":"Lab. móvel","disabled":true,"info":"","env":[]},{"id":"c5a64bb6ccb0bb7f","type":"inject","z":"21afd4752b808099","name":"","props":[{"p":"payload"}],"repeat":"0.1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":200,"wires":[["44ce2e54913213f0"]]},{"id":"44ce2e54913213f0","type":"change","z":"21afd4752b808099","name":"","rules":[{"t":"set","p":"timestamp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":200,"wires":[[]]},{"id":"e874c3c41f544c67","type":"inject","z":"21afd4752b808099","name":"Read Temperatura","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadTemperatura","vt":"str"},{"p":"Machine","v":"0306","vt":"str"},{"p":"SensorType","v":"02","vt":"str"},{"p":"sensorCode","v":"TEMP01","vt":"str"}],"repeat":"25","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=13","x":380,"y":440,"wires":[["c2207a02b60446b0"]]},{"id":"1fd41edad95f11ca","type":"inject","z":"21afd4752b808099","name":"Read Umidade","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadUmidade","vt":"str"},{"p":"Machine","v":"0306","vt":"str"},{"p":"SensorType","v":"03","vt":"str"},{"p":"sensorCode","v":"UMID01","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=12","x":400,"y":500,"wires":[["c2207a02b60446b0"]]},{"id":"0b67ada79e445566","type":"switch","z":"21afd4752b808099","name":"","property":"ReadType","propertyType":"msg","rules":[{"t":"eq","v":"ReadCount","vt":"str"},{"t":"eq","v":"ReadTemperatura","vt":"str"},{"t":"eq","v":"ReadUmidade","vt":"str"},{"t":"eq","v":"ReadState","vt":"str"},{"t":"eq","v":"ReadPeso","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":810,"y":460,"wires":[["89e8eb7583b5f319","cd0c2d6e3cdd7afd"],["cd0c2d6e3cdd7afd"],["cd0c2d6e3cdd7afd","a0da18395f996612"],["cd0c2d6e3cdd7afd"],["cd0c2d6e3cdd7afd"]]},{"id":"cf0ebf7da26d9730","type":"function","z":"21afd4752b808099","name":"","func":"var conteudo = msg.payload;\n\nreturn {payload: conteudo}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1360,"y":740,"wires":[["50bcc2bf609f33a3","594ec872e5ccc0c0","2a6c4605ee0ab16e"]]},{"id":"71cf5da5b269d7b6","type":"inject","z":"21afd4752b808099","name":"","props":[{"p":"payload"},{"p":"topic","v":"timeParaStop","vt":"flow"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"timestamp","payloadType":"flow","x":420,"y":140,"wires":[["1ed2b402a430edbc"]]},{"id":"1ed2b402a430edbc","type":"debug","z":"21afd4752b808099","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":580,"y":140,"wires":[]},{"id":"a4ac009dad494132","type":"inject","z":"21afd4752b808099","name":"Read Count","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadCount","vt":"str"},{"p":"Machine","v":"0306","vt":"str"},{"p":"SensorType","v":"01","vt":"str"},{"p":"sensorCode","v":"CONT01","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=8","x":410,"y":380,"wires":[["c2207a02b60446b0"]]},{"id":"7a88653889c2365e","type":"OpcUa-Client","z":"21afd4752b808099","endpoint":"d13e9ba5f5c23398","action":"write","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":1280,"y":520,"wires":[[]]},{"id":"89e8eb7583b5f319","type":"change","z":"21afd4752b808099","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=4;i=11;datatype=Boolean","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":380,"wires":[["7a88653889c2365e"]]},{"id":"6a2c9bf2277a3da9","type":"inject","z":"21afd4752b808099","name":"Read State","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadState","vt":"str"},{"p":"Machine","v":"0306","vt":"str"},{"p":"SensorType","v":"04","vt":"str"},{"p":"sensorCode","v":"STATUS01","vt":"str"}],"repeat":"25","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=10","x":410,"y":560,"wires":[["c2207a02b60446b0"]]},{"id":"b5c530b9d7e9f552","type":"inject","z":"21afd4752b808099","d":true,"name":"Read Temperatura","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadTemperatura","vt":"str"},{"p":"Machine","v":"ME06","vt":"str"},{"p":"SensorType","v":"02","vt":"str"},{"p":"sensorCode","v":"TEMP02","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=22","x":380,"y":860,"wires":[["cc39ced9727be895"]]},{"id":"226e6dec1ac9bdef","type":"inject","z":"21afd4752b808099","d":true,"name":"Read Umidade","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadUmidade","vt":"str"},{"p":"Machine","v":"ME06","vt":"str"},{"p":"SensorType","v":"03","vt":"str"},{"p":"sensorCode","v":"UMID02","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=21","x":400,"y":920,"wires":[["cc39ced9727be895"]]},{"id":"5b875371d2bd01f8","type":"switch","z":"21afd4752b808099","name":"","property":"ReadType","propertyType":"msg","rules":[{"t":"eq","v":"ReadCount","vt":"str"},{"t":"eq","v":"ReadTemperatura","vt":"str"},{"t":"eq","v":"ReadUmidade","vt":"str"},{"t":"eq","v":"ReadState","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":790,"y":880,"wires":[["2e0ae5078704fc2b","cd0c2d6e3cdd7afd"],["cd0c2d6e3cdd7afd"],["cd0c2d6e3cdd7afd"],["cd0c2d6e3cdd7afd","1b7f51ee47e539de"]]},{"id":"7b1e36a841ed624d","type":"inject","z":"21afd4752b808099","d":true,"name":"Read Count","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadCount","vt":"str"},{"p":"Machine","v":"ME06","vt":"str"},{"p":"SensorType","v":"01","vt":"str"},{"p":"sensorCode","v":"CONT02","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=17","x":410,"y":800,"wires":[["cc39ced9727be895"]]},{"id":"2e0ae5078704fc2b","type":"change","z":"21afd4752b808099","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"ns=4;i=20;datatype=Boolean","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":940,"wires":[["7a88653889c2365e"]]},{"id":"4971e44cc93c89bb","type":"inject","z":"21afd4752b808099","d":true,"name":"Read State","props":[{"p":"topic","vt":"str"},{"p":"ReadType","v":"ReadState","vt":"str"},{"p":"Machine","v":"0305","vt":"str"},{"p":"SensorType","v":"04","vt":"str"},{"p":"sensorCode","v":"STATUS02","vt":"str"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=19","x":410,"y":980,"wires":[["cc39ced9727be895"]]},{"id":"50bcc2bf609f33a3","type":"kafka-producer","z":"21afd4752b808099","name":"","broker":"6a9254dc7887e931","topic":"raw_data","requireAcks":"1","ackTimeoutMs":100,"attributes":0,"x":1540,"y":740,"wires":[]},{"id":"0d2483ec0b7ae258","type":"comment","z":"21afd4752b808099","name":"Timestamp","info":"Escreve o timestamp em uma variavel de contexto do fluxo.","x":380,"y":80,"wires":[]},{"id":"cd0c2d6e3cdd7afd","type":"template","z":"21afd4752b808099","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"datastamp\":\"{{flow.timestamp}}\", \"machineId\":\"{{Machine}}\", \"sensorType\":\"{{SensorType}}\", \"sensorCode\":\"{{sensorCode}}\", \"value\":{{payload}}}","output":"str","x":1200,"y":740,"wires":[["cf0ebf7da26d9730"]]},{"id":"c2756e968dc47c2c","type":"comment","z":"21afd4752b808099","name":"Máquina 1 - 0306","info":"Cada node inject requisita um tipo de variavel no PLC utilizando o node OPC UA Client.","x":400,"y":320,"wires":[]},{"id":"e009743da2933afe","type":"comment","z":"21afd4752b808099","d":true,"name":"Máquina 2 - 0305","info":"Cada node inject requisita um tipo de variavel no PLC utilizando o node OPC UA Client.","x":400,"y":740,"wires":[]},{"id":"fb7806da09c4ce3f","type":"comment","z":"21afd4752b808099","name":"Envia para o Kafka","info":"- O node template cria um JSON no payload com as informações necessarias para Kafka.\n\n- O node function tem função criar uma nova mensagem somente com JSON do template como payload e sem outras informações na mesma mensagem.\n\n- O node Kafka envia para Kafka","x":1230,"y":680,"wires":[]},{"id":"064feddf9221961f","type":"comment","z":"21afd4752b808099","name":"Reset para contador de peles","info":"Reset no contador de peles do PLC. Esse contador soma as peles processadas pela máquina dentro do tempo configurado para cada aquisição do dado de contagem.","x":1080,"y":340,"wires":[]},{"id":"5fbd0afe2a426d0c","type":"comment","z":"21afd4752b808099","name":"Reset para contador de peles","info":"Reset no contador de peles do PLC. Esse contador soma as peles processadas pela máquina dentro do tempo configurado para cada aquisição do dado de contagem.","x":1180,"y":900,"wires":[]},{"id":"be731cfba9409208","type":"inject","z":"21afd4752b808099","name":"OPC UA Server properties","props":[{"p":"action","v":"reconnect","vt":"str"},{"p":"OpcUaEndpoint.credentials","v":"{}","vt":"str"},{"p":"OpcUaEndpoint.endpoint","v":"opc.tcp://10.1.1.208:4840","vt":"str"},{"p":"OpcUaEndpoint.login","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","x":700,"y":380,"wires":[["c2207a02b60446b0"]]},{"id":"cc39ced9727be895","type":"subflow:57259f115786f758","z":"21afd4752b808099","name":"","x":620,"y":880,"wires":[["5b875371d2bd01f8"]]},{"id":"de2f5a67e2024665","type":"inject","z":"21afd4752b808099","name":"OPC UA Server properties","props":[{"p":"action","v":"reconnect","vt":"str"},{"p":"OpcUaEndpoint.credentials","v":"{}","vt":"str"},{"p":"OpcUaEndpoint.endpoint","v":"opc.tcp://10.1.1.208:4840","vt":"str"},{"p":"OpcUaEndpoint.login","v":"false","vt":"bool"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","x":680,"y":800,"wires":[["cc39ced9727be895"]]},{"id":"594ec872e5ccc0c0","type":"debug","z":"21afd4752b808099","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1520,"y":800,"wires":[]},{"id":"1b7f51ee47e539de","type":"link out","z":"21afd4752b808099","name":"Alarme hora ponta","mode":"link","links":["28d1018d16e53aed","cc464cec641c039f","2c20d7d587a566a4"],"x":905,"y":980,"wires":[]},{"id":"8c122237812dcdb0","type":"inject","z":"21afd4752b808099","name":"","props":[{"p":"payload"}],"repeat":"15","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":350,"y":1140,"wires":[["344b9f9cda88d687"]]},{"id":"344b9f9cda88d687","type":"change","z":"21afd4752b808099","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$fromMillis(payload, '[H01][m01]', '-0300' )","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1140,"wires":[["3e5e93d38056e19d"]]},{"id":"3e5e93d38056e19d","type":"switch","z":"21afd4752b808099","name":"Define horário de ponta","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1025","vt":"num","v2":"1800","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":770,"y":1140,"wires":[["220c1a4da71ac0d4","29efe777c18a72f9"],["7d46a35babc9253f"]]},{"id":"220c1a4da71ac0d4","type":"debug","z":"21afd4752b808099","name":"debug 26","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":1100,"wires":[]},{"id":"29efe777c18a72f9","type":"change","z":"21afd4752b808099","name":"","rules":[{"t":"set","p":"HoraPonta","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1140,"wires":[[]]},{"id":"7d46a35babc9253f","type":"change","z":"21afd4752b808099","name":"","rules":[{"t":"set","p":"HoraPonta","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1180,"wires":[[]]},{"id":"2c20d7d587a566a4","type":"link in","z":"21afd4752b808099","name":"link in 3","links":["7a121fe30d9355a8","1b7f51ee47e539de"],"x":285,"y":1320,"wires":[["7d7a5c3dcd517dc4"]]},{"id":"12ec759aa49c606f","type":"switch","z":"21afd4752b808099","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":1280,"wires":[["f45648d2bd4c5348"],["9aaec8575639be47"],["0d09deea71eeb417","9aaec8575639be47"]]},{"id":"7d7a5c3dcd517dc4","type":"switch","z":"21afd4752b808099","name":"","property":"HoraPonta","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1320,"wires":[["12ec759aa49c606f"],["ef477416b0891d81"]]},{"id":"d889c63c687ea2de","type":"debug","z":"21afd4752b808099","name":"debug 27","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":1280,"wires":[]},{"id":"0d09deea71eeb417","type":"change","z":"21afd4752b808099","name":"Define ligado = true","rules":[{"t":"set","p":"Machine","pt":"msg","to":"0306","tot":"str"},{"t":"set","p":"SensorType","pt":"msg","to":"05","tot":"str"},{"t":"set","p":"sensorCode","pt":"msg","to":"RUSH01","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1030,"y":1320,"wires":[["cd0c2d6e3cdd7afd"]]},{"id":"ef477416b0891d81","type":"change","z":"21afd4752b808099","name":"","rules":[{"t":"set","p":"Machine","pt":"msg","to":"0306","tot":"str"},{"t":"set","p":"SensorType","pt":"msg","to":"05","tot":"str"},{"t":"set","p":"sensorCode","pt":"msg","to":"RUSH01","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1380,"wires":[["cd0c2d6e3cdd7afd"]]},{"id":"f45648d2bd4c5348","type":"change","z":"21afd4752b808099","name":"Define desligado = true","rules":[{"t":"set","p":"Machine","pt":"msg","to":"0306","tot":"str"},{"t":"set","p":"SensorType","pt":"msg","to":"05","tot":"str"},{"t":"set","p":"sensorCode","pt":"msg","to":"RUSH01","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1240,"wires":[["f4315663ef6dedcc","cd0c2d6e3cdd7afd"]]},{"id":"9aaec8575639be47","type":"change","z":"21afd4752b808099","name":"Define deligado = false","rules":[{"t":"set","p":"Machine","pt":"msg","to":"0306","tot":"str"},{"t":"set","p":"SensorType","pt":"msg","to":"05","tot":"str"},{"t":"set","p":"sensorCode","pt":"msg","to":"RUSH01","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1280,"wires":[["d889c63c687ea2de","cd0c2d6e3cdd7afd"]]},{"id":"f4315663ef6dedcc","type":"debug","z":"21afd4752b808099","name":"debug 28","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1300,"y":1240,"wires":[]},{"id":"c72fb7395ae7fc63","type":"inject","z":"21afd4752b808099","name":"Read Pesagem","props":[{"p":"topic","vt":"str"},{"p":"Machine","v":"0306","vt":"str"},{"p":"ReadType","v":"ReadPeso","vt":"str"},{"p":"SensorType","v":"07","vt":"str"},{"p":"sensorCode","v":"PESO01","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=4;i=24","x":390,"y":620,"wires":[["c2207a02b60446b0"]]},{"id":"a0da18395f996612","type":"debug","z":"21afd4752b808099","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":900,"y":620,"wires":[]},{"id":"2a6c4605ee0ab16e","type":"mqtt out","z":"21afd4752b808099","name":"","topic":"/Senai","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cd6e114f3d14ef49","x":1530,"y":860,"wires":[]},{"id":"c2207a02b60446b0","type":"subflow:57259f115786f758","z":"21afd4752b808099","name":"","x":640,"y":460,"wires":[["0b67ada79e445566"]]},{"id":"d13e9ba5f5c23398","type":"OpcUa-Endpoint","endpoint":"opc.tcp://10.1.1.208:4840","secpol":"None","secmode":"None","login":false},{"id":"6a9254dc7887e931","type":"kafka-broker","name":"Kafka","hosts":"kafka-broker-1:9092","selfsign":false,"usetls":false,"cacert":"","clientcert":"","privatekey":"","passphrase":""},{"id":"cd6e114f3d14ef49","type":"mqtt-broker","name":"","broker":"10.1.1.29","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]